# Visual Studio / Visual Studio Code
.vs/
.suo
*.user
*.userossc
*.sln.docstates
*bin/
*obj/
_ReSharper.*/
*.[Rr]e[Ss]harper.user
*.[Rr]e[Ss]harper.user.settings
*.db-shm
*.db-wal
*.sqlite
*.db

# Node.js (para cuando instalemos React)
node_modules/